@import "./vars";

body {
  background-color: rgb(0, 0, 0);
  color: #fff;
  transition: 2s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#board {
  display: flex;
  align-items: baseline;
  margin: 5vh auto;
  margin: 5svh auto;
  position: relative;
  width: max-content;
}

.main-menu {
  background: url("../images/icons.svg#main-menu-background") 0 82px/600px 400px
    no-repeat rgb(221, 252, 150);
  border-radius: 40px;
  border: 20px solid rgb(160, 200, 100);
  height: 400px;
  left: 36%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
  width: 450px;
  z-index: 10;

  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 360px;
    justify-content: center;
    width: 410px;

    > button {
      background: rgb(0, 45, 129);
      border-radius: 18px;
      border: 1px solid #00a6c0;
      color: #fff;
      cursor: pointer;
      font-size: 18px;
      height: 35px;
      margin: 10px 0;
      width: 120px;
    }
  }

  &-difficulty {
    background: rgb(52, 88, 155);
    border-radius: 32px;
    border: 12px solid rgb(32, 68, 125);
    display: flex;
    flex-direction: column;
    font-size: 22px;
    height: size("menu-box-height");
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    width: size("menu-box-width");
    justify-content: space-evenly;
    align-items: center;

    &-buttons {
      background-color: rgb(221, 252, 150);
      border-radius: 20px;
      border: 2px solid rgb(32, 68, 125);
      color: rgb(0, 0, 0);
      cursor: pointer;
      font-size: 24px;
      height: 42px;
      margin-top: 15px;
      position: relative;
      width: 120px;

      &:hover {
        scale: 1.1;
      }

      &--picked {
        background-color: #00a6c0 !important;
      }
    }

    &__easy-button {
      background-color: lime;
      &:hover {
        background-color: rgb(0, 200, 0);
      }
    }

    &__normal-button {
      background-color: yellow;
      &:hover {
        background-color: rgb(200, 200, 0);
      }
    }

    &__hardcore-button {
      background-color: red;

      &:hover {
        background-color: rgb(200, 0, 0);
      }
    }

    &__info {
      border-radius: 20px;
      border: 2px solid rgb(32, 68, 125);
      color: #000;
      font-size: 18px;
      height: 150px;
      position: absolute;
      width: 250px;
      z-index: 1;
      text-align: center;
      display: flex;
      align-items: center;

      &-easy {
        background-color: rgb(0, 200, 0);
        left: 50%;
        top: 25%;
        transform: translateX(-50%);
      }

      &-normal {
        background-color: rgb(200, 200, 0);
        left: 50%;
        top: 49%;
        transform: translateX(-50%);
      }

      &-hardcore {
        background-color: rgb(200, 0, 0);
        left: 50%;
        top: 4%;
        transform: translateX(-50%);
      }
    }

    &__close-button {
      font-size: 14px;
      height: 25px;
      width: 50px;

      &:hover {
        background-color: rgb(130, 170, 70);
      }
    }
  }

  &-options {
    background: rgb(52, 88, 155);
    border-radius: 32px;
    border: 12px solid rgb(32, 68, 125);
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    height: size("menu-box-height");
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    width: size("menu-box-width");

    &__div {
      align-items: center;
      display: flex;
      flex-direction: column;

      > div {
        display: flex;
        justify-content: space-evenly;
        margin: 15px 0;
        width: 265px;
      }

      &__buttons {
        background-color: rgb(221, 252, 150);
        border-radius: 20px;
        border: 2px solid rgb(32, 68, 125);
        color: rgb(0, 0, 0);
        cursor: pointer;
        font-size: 16px;
        padding: 1.5px 6px;
        text-align: center;

        &-close {
          margin: 20px 0 0 33%;
          width: 120px;
        }

        &:hover {
          background-color: rgb(130, 170, 70);
          scale: 1.1;
        }
      }

      &__volume {
        width: 110px;
        margin: 0 5px;
        margin-left: 10px;

        &--margin {
          margin-left: 25px;
        }
      }

      &__nick {
        display: flex;
        align-items: center;
        justify-content: center;

        &-input {
          font-size: 16px;
          text-align: center;
          width: 100px;
        }
      }
    }
  }

  &-ranking {
    background: rgb(52, 88, 155);
    border-radius: 15px;
    border: 5px solid #fff;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: size("menu-box-height");
    justify-content: space-between;
    left: 36%;
    overflow: hidden;
    position: absolute;
    text-align: justify;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    width: size("menu-box-width");
    z-index: 100;

    > button {
      background-color: rgb(221, 252, 150);
      border-radius: 20px;
      border: 2px solid rgb(32, 68, 125);
      color: rgb(0, 0, 0);
      cursor: pointer;
      height: 50px;
      width: 150px;
      margin: 25px 0;
      font-size: 18px;
      &:hover {
        background-color: rgb(130, 170, 70);
        scale: 1.1;
      }

      &:last-child {
        width: 110px;
        height: 30px;
      }
    }

    &__easy-button {
      background-image: linear-gradient(
        to right,
        green 0%,
        lime 50%,
        green 100%
      );
    }

    &__normal-button {
      background-image: linear-gradient(to right, yellow 44%, red 50%);
    }

    &__easy {
      align-items: center;
      background: rgb(52, 88, 155);
      border-radius: 15px;
      border: 5px solid #fff;
      color: #fff;
      display: flex;
      flex-direction: column;
      height: size("menu-box-height");
      justify-content: center;
      overflow: hidden;
      position: absolute;
      text-align: justify;
      width: size("menu-box-width");

      &__list {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        margin: 0 auto 7px 43%;

        &-item {
          margin-bottom: 4px;
        }
      }

      &__close-button {
        background-color: rgb(221, 252, 150);
        border-radius: 20px;
        border: 2px solid rgb(32, 68, 125);
        color: rgb(0, 0, 0);
        cursor: pointer;
        height: 20px;
        width: 65px;
        margin-top: 5px;
        &:hover {
          background-color: rgb(130, 170, 70);
          scale: 1.1;
        }
      }
    }

    &__normal {
      align-items: center;
      background: rgb(52, 88, 155);
      border-radius: 15px;
      border: 5px solid #fff;
      color: #fff;
      display: flex;
      flex-direction: column;
      height: size("menu-box-height");
      justify-content: center;
      overflow: hidden;
      position: absolute;
      text-align: justify;
      width: size("menu-box-width");

      &__list {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        margin: 0 auto 7px 43%;

        &-item {
          margin-bottom: 4px;
        }
      }

      &__close-button {
        background-color: rgb(221, 252, 150);
        border-radius: 20px;
        border: 2px solid rgb(32, 68, 125);
        color: rgb(0, 0, 0);
        cursor: pointer;
        height: 20px;
        width: 65px;
        margin-top: 5px;
        &:hover {
          background-color: rgb(130, 170, 70);
          scale: 1.1;
        }
      }
    }
  }

  &-instructions {
    background: rgb(52, 88, 155);
    border-radius: 15px;
    border: 5px solid #fff;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: size("menu-box-height");
    justify-content: space-between;
    left: 51%;
    overflow: hidden;
    position: absolute;
    text-align: justify;
    justify-content: center;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    width: size("menu-box-width");

    &__inner {
      margin-bottom: 25px;
      > p {
        padding: 5px;
      }

      > img {
        display: flex;
        margin: 0 auto;
      }

      > div {
        display: flex;
        align-items: center;
        padding: 3px;

        &:first-child {
          border-bottom: 1px solid #fff;
        }

        > img {
          border: 1px solid #fff;
        }

        > p {
          margin-right: 5px;
        }
      }
    }

    &__buttons {
      align-items: center;
      display: flex;
      font-size: 14px;
      justify-content: space-evenly;
      left: 50%;
      position: absolute;
      top: 93%;
      transform: translateX(-50%);
      width: 240px;
      z-index: 2;

      > button {
        background-color: rgb(221, 252, 150);
        border-radius: 20px;
        border: 2px solid rgb(32, 68, 125);
        color: rgb(0, 0, 0);
        cursor: pointer;
        height: 20px;
        width: 65px;

        &:hover {
          background-color: rgb(130, 170, 70);
          scale: 1.1;
        }

        &__close-button {
          margin: 0 20px;
        }
      }
    }
  }
}

#alphabet {
  display: flex;

  > td {
    align-items: center;
    border: 1px solid;
    border-right: none;
    display: flex;
    font-size: 36px;
    height: 60px;
    justify-content: center;
    width: 60px;

    &:first-child {
      background: none;
      border: none;
      border-bottom: 1px solid;
      width: 60px;
    }

    &:last-child {
      border-right: 1px solid;
      width: 61px;
    }
  }
}

.coordinates {
  background-color: #00c073;

  &-waves {
    animation: gradient 40s ease infinite;
    background: {
      image: linear-gradient(
        right,
        #00a6c0 0%,
        #00c073 44%,
        #00a6c0 50%,
        #00c073 80%,
        #00a6c0 90%
      );
      position: center;
      size: 500% 500%;
    }
  }
}

.numbers {
  background: rgb(69, 114, 240);
  border-left: 1px solid;
  display: flex;

  &-waves {
    animation: gradient 40s ease infinite;
    background: {
      image: linear-gradient(
        95deg,
        rgb(69, 114, 240) 0%,
        rgb(21, 44, 116) 44%,
        rgb(69, 114, 240) 50%,
        rgb(24, 52, 135) 80%,
        rgb(69, 114, 240) 90%
      );
      position: center;
      size: 500% 500%;
    }
  }

  > td {
    align-items: center;
    border-bottom: 1px solid;
    border-right: 1px solid;
    display: flex;
    font-size: 36px;
    height: 60.2px;
    justify-content: center;
    width: 60px;

    &:last-child {
      border-right: 1px solid;
    }

    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      position: relative;
      width: 60px;

      &:hover {
        background-color: rgb(3, 80, 196);
        cursor: pointer;
        height: 59px;
      }
    }
  }
}

.message-container {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: 700;
  height: 610px;
  margin: 0 15px;
  text-align: left;
  transition: ease-in-out;
  width: 270px;

  &__additional {
    font-size: 30px;
    font-weight: 400;
  }

  &__timer {
    font-size: 12px;
    font-weight: 400;
    margin: 0 auto;
    margin-top: auto;
  }

  &__sunken-pop-up {
    color: gold;
    font-size: 36px;
    font-weight: 700;
    left: 23%;
    position: absolute;
    top: 40%;
    width: 270px;
    z-index: 2;
  }

  &__victory {
    color: rgb(205, 252, 94);
    font-size: 36px;
    left: 54.5%;
    position: absolute;
    text-align: center;
    top: 72%;
    transform: translate(-80%, -120%);
    width: 600px;
    z-index: 10;

    &-button {
      background-color: rgb(21, 44, 116);
      border-radius: 10%;
      color: rgb(205, 252, 94);
      cursor: pointer;
      font-size: 24px;
      height: 40px;
      position: absolute;
      left: 27%;
      top: 64%;
      width: 150px;
    }

    &-ranking {
      background-color: rgb(21, 44, 116);
      border-radius: 10%;
      color: rgb(205, 252, 94);
      cursor: pointer;
      font-size: 24px;
      height: 40px;
      position: absolute;
      left: 27%;
      top: 71%;
      width: 150px;
    }
  }

  &__lost {
    color: rgb(205, 252, 94);
    font-size: 36px;
    left: 54.5%;
    position: absolute;
    text-align: center;
    top: 47%;
    transform: translate(-80%, -120%);
    width: 600px;
    z-index: 10;
    height: 0;
  }

  &__main-menu {
    background-image: linear-gradient(
      305deg,
      rgba(89, 131, 252, 1) 10%,
      rgba(41, 53, 86, 1) 100%
    );
    border-radius: 20px;
    border: none;
    cursor: pointer;
    display: block;
    font-size: 16px;
    height: 30px;
    isolation: isolate;
    margin-bottom: 62px;
    overflow: hidden;
    position: relative;
    width: 120px;

    &::after {
      background-image: linear-gradient(
        330deg,
        rgba(4, 28, 100, 1) 0%,
        rgba(124, 157, 249, 1) 99%
      );
      content: "";
      inset: 0;
      position: absolute;
      scale: 0 1;
      transform-origin: left;
      transition: scale 0.8s;
      z-index: -1;
    }

    &:hover::after,
    &:focus-visible::after {
      transform-origin: right;
      scale: 1 1;
    }
  }

  &__force-reload {
    opacity: 0.2;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: 20px;
    isolation: isolate;
    margin-bottom: 62px;
    overflow: hidden;
    position: absolute;
    width: 80px;
    left: 84%;
    top: 7%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.hide-element {
  opacity: 0;
  z-index: -10;
  pointer-events: none;

  &-menu {
    transform: translate(-50%, -1000%);
    opacity: 0;
    z-index: -10;
    pointer-events: none;
  }
}

// Hit/Miss //
.hit {
  cursor: none;
  pointer-events: none;
  z-index: 0;

  &::after {
    background: {
      image: url(../images/ship.jpg);
      position: 0 -5px;
      size: 60px 65px;
      repeat: no-repeat;
    }
    content: "";
    height: 59px;
    position: absolute;
    width: 59px;
  }
}

.miss {
  cursor: none;
  pointer-events: none;
  z-index: 0;

  &::after {
    background: {
      image: url(../images/miss.jpg);
      position: center;
      size: 60px 65px;
      repeat: no-repeat;
    }
    content: "";
    height: 59px;
    position: absolute;
    width: 59px;
  }
}

.new-game-used {
  display: none !important;
}

.locked-cell {
  color: none;
}

// .test-ship {
//   background: pink !important;
//   z-index: 0;
// }
