* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ship {
  color: none;
}

.message-container {
  font-size: 32px;
  font-weight: 700;
  margin: 120px 15px;
  text-align: left;
  width: 310px;
  z-index: 100;
}
.message-container__additional {
  font-size: 30px;
  font-weight: 400;
}
.message-container__sunken-pop-up {
  background-color: rgb(10, 109, 254);
  color: gold;
  font-size: 36px;
  font-weight: 700;
  left: 23%;
  top: 3%;
  position: absolute;
  width: 260px;
  z-index: 10;
}
.message-container--victory {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-80%, -120%);
      -ms-transform: translate(-80%, -120%);
          transform: translate(-80%, -120%);
  color: rgb(205, 252, 94);
  font-size: 48px;
  text-align: center;
  width: 450px;
  z-index: 11;
}

#board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5vh 15%;
  margin: 5svh 15%;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#alphabet {
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#alphabet > td {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00c073;
  border-right: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 36px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 8px;
  width: 60px;
}
#alphabet > td:first-of-type {
  background: none;
}
#alphabet > td:last-child {
  border: none;
}

.numbers {
  background-color: rgb(10, 109, 254);
  border: 1px solid;
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.numbers-color {
  background-color: #00c073;
}
.numbers > td {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 36px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
}
.numbers > td > div {
  background: none;
  height: 60px;
  position: relative;
  width: 60px;
}
.numbers > td > div:hover {
  background-color: rgb(3, 80, 196);
  cursor: pointer;
}
.numbers > td:last-child,
.numbers > td > div:last-child {
  border-bottom: none;
  border-right: none;
}

.hit {
  cursor: none;
  pointer-events: none;
  z-index: 9;
}
.hit::after {
  background: url(./images/ship.jpg) center/60px 59px;
  content: "";
  height: 60px;
  position: absolute;
  width: 59px;
}

.miss {
  cursor: none;
  pointer-events: none;
  z-index: 9;
}
.miss::after {
  background: url(./images/miss.jpg) center/60px 59px;
  content: "";
  height: 60px;
  position: absolute;
  width: 59px;
}

.main-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 36%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 1.2s;
  transition: 1.2s;
  width: 400px;
  z-index: 100;
}
.main-menu__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
}
.main-menu__container > button {
  cursor: pointer;
  font-size: 20px;
  height: 40px;
  margin: 10px 0;
  width: 120px;
}

.main-menu--hide {
  -webkit-transform: translate(-50%, -1000%);
      -ms-transform: translate(-50%, -1000%);
          transform: translate(-50%, -1000%);
  -webkit-transition: 5s;
  transition: 5s;
}

.new-game--victory {
  cursor: pointer;
  display: none;
  font-size: 20px;
  height: 40px;
  margin: 10px 0;
  position: absolute;
  left: 40%;
  width: 120px;
}

.show {
  display: block;
}