* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#message {
  font-size: 36px;
  font-weight: 700;
  margin: 1vh auto;
  margin: 1svh auto;
  max-width: 1000px;
  text-align: center;

  &-additional {
    position: absolute;
    font-size: 36px;
    right: -200px;
  }
}

#board {
  display: flex;
  justify-content: center;
  margin: 1vh auto;
  margin: 1svh auto;
  width: max-content;
  position: relative;
}

#alphabet {
  border: 1px solid;
  display: flex;

  > td {
    align-items: center;
    background-color: #00c073;
    border-right: 1px solid;
    display: flex;
    font-size: 36px;
    height: 60px;
    justify-content: center;
    padding: 0 8px;
    width: 60px;

    &:first-of-type {
      background: none;
    }

    &:last-child {
      border: none;
    }
  }
}

.numbers {
  border: 1px solid;
  border-top: none;
  display: flex;
  background-color: rgb(107, 107, 225);

  &-color {
    background-color: #00c073;
  }

  > td {
    align-items: center;
    border-right: 1px solid;
    display: flex;
    font-size: 36px;
    height: 60px;
    justify-content: center;

    width: 60px;

    > div {
      height: 60px;
      width: 60px;
      background: none;
      position: relative;

      &:hover {
        background-color: rgb(73, 73, 154);
        cursor: pointer;
      }
    }

    &:last-child,
    > div:last-child {
      border-bottom: none;
      border-right: none;
    }
  }
}

// Hit/Miss

.hit {
  z-index: 9;
  pointer-events: none;
  cursor: none;
}

.hit::after {
  content: "";
  background: #000000;
  border: 1px solid;
  height: 59px;
  position: absolute;
  width: 59px;
}

.miss {
  cursor: none;
  pointer-events: none;
  z-index: 9;
}

.miss::after {
  background: #ff0000;
  border: 1px solid;
  content: "";
  height: 59px;
  position: absolute;
  width: 59px;
}
