* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#message {
  position: absolute;
  font-size: 32px;
  font-weight: 700;
  right: -49.5%;
  top: 10%;
  width: 295px;
  text-align: left;
}
#message-additional {
  position: absolute;
  font-size: 30px;
  right: -57.5%;
  top: 20%;
  width: 350px;
}
#message-sunken {
  color: purple;
  font-size: 42px;
  font-weight: 700;
  max-width: 1000px;
  position: absolute;
  top: 50%;
  z-index: 10;
}

#board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5vh 15%;
  margin: 5svh 15%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}

#alphabet {
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#alphabet > td {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00c073;
  border-right: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 36px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 8px;
  width: 60px;
}
#alphabet > td:first-of-type {
  background: none;
}
#alphabet > td:last-child {
  border: none;
}

.numbers {
  border: 1px solid;
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(10, 109, 254);
}
.numbers-color {
  background-color: #00c073;
}
.numbers > td {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 36px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
}
.numbers > td > div {
  height: 60px;
  width: 60px;
  background: none;
  position: relative;
}
.numbers > td > div:hover {
  background-color: rgb(3, 80, 196);
  cursor: pointer;
}
.numbers > td:last-child,
.numbers > td > div:last-child {
  border-bottom: none;
  border-right: none;
}

.hit {
  z-index: 9;
  pointer-events: none;
  cursor: none;
}

.hit::after {
  background: url(./images/ship.jpg);
  background-size: 60px 59px;
  content: "";
  height: 60px;
  position: absolute;
  width: 59px;
}

.miss {
  cursor: none;
  pointer-events: none;
  z-index: 9;
}

.miss::after {
  background: url(./images/miss.jpg);
  background-size: 60px 59px;
  content: "";
  height: 60px;
  position: absolute;
  width: 59px;
}