* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#message {
  position: absolute;
  font-size: 32px;
  font-weight: 700;
  right: -49.5%;
  top: 10%;
  width: 295px;
  text-align: left;

  &-additional {
    position: absolute;
    font-size: 30px;
    right: -57.5%;
    top: 20%;
    width: 350px;
  }

  &-sunken {
    color: purple;
    font-size: 42px;
    font-weight: 700;
    max-width: 1000px;
    position: absolute;
    top: 50%;
    z-index: 10;
  }
}

#board {
  display: flex;
  justify-content: center;
  margin: 5vh 15%;
  margin: 5svh 15%;
  width: max-content;
  position: relative;
}

#alphabet {
  border: 1px solid;
  display: flex;

  > td {
    align-items: center;
    background-color: #00c073;
    border-right: 1px solid;
    display: flex;
    font-size: 36px;
    height: 60px;
    justify-content: center;
    padding: 0 8px;
    width: 60px;

    &:first-of-type {
      background: none;
    }

    &:last-child {
      border: none;
    }
  }
}

.numbers {
  border: 1px solid;
  border-top: none;
  display: flex;
  background-color: rgb(10, 109, 254);

  &-color {
    background-color: #00c073;
  }

  > td {
    align-items: center;
    border-right: 1px solid;
    display: flex;
    font-size: 36px;
    height: 60px;
    justify-content: center;

    width: 60px;

    > div {
      height: 60px;
      width: 60px;
      background: none;
      position: relative;

      &:hover {
        background-color: rgb(3, 80, 196);
        cursor: pointer;
      }
    }

    &:last-child,
    > div:last-child {
      border-bottom: none;
      border-right: none;
    }
  }
}

// Hit/Miss

.hit {
  z-index: 9;
  pointer-events: none;
  cursor: none;
}

.hit::after {
  background: url(./images/ship.jpg);
  background-size: 60px 59px;
  content: "";
  height: 60px;
  position: absolute;
  width: 59px;
}

.miss {
  cursor: none;
  pointer-events: none;
  z-index: 9;
}

.miss::after {
  background: url(./images/miss.jpg);
  background-size: 60px 59px;

  content: "";
  height: 60px;
  position: absolute;
  width: 59px;
}
